@model PizzaBox.Client.Models.OrderViewModel


@if(@Model.Pizzas != null)
{
  @foreach (var item in @Model.Pizzas)
  {
    <label>@item.Name</label>
  }
}

<a href="/pizza/create">create pizza</a>

<form action="/order/checkout" method="post">
@Html.AntiForgeryToken()
<select asp-for="@Model.store">
      @foreach (var item in @Model.Stores)
      {
          <option value="@item.UName">@item.UName</option>
      }
  </select>
<button type="submit">CheckOut</button>
</form>