@model PizzaBox.Client.Models.OrderViewModel

<div>
  @if(@Model.Pizzas != null)
  {
    @foreach (var item in @Model.Pizzas)
    {
      <label>@item.Name</label>
      <label> Price: </label>
      <label>@item.Price</label>
      <br>
    }
  }
</div>
<div>
  <a href="/pizza/create">create pizza</a>
</div>
<div>
  <form action="/order/checkout" method="post">
    @Html.AntiForgeryToken()
    <div>
      <select asp-for="@Model.store">
      @foreach (var item in @Model.Stores)
      {
          <option value="@item.UName">@item.UName</option>
      }
    </select>
    </div>
    <div>
        <button type="submit">CheckOut</button>
    </div>
    
  </form>
</div>


