@model PizzaBox.Client.Models.UserHistoryViewModel

<div>
  @if(@Model.Orders != null)
{
  @foreach (var item in @Model.Orders)
{
      <label>Order Number: </label>
      <label>@item.OrderId</label>
      <br>
      @foreach (var i in @Model.Pizzas)
      {
          if(i.Order == item)
          {
            <label>@i.Name</label>
            <label> Price: </label>
            <label>@i.Price</label>
            <br>
          }
      }
}
}
</div>
<div>
  <a href="/order/gonav" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"> go back to main menu</a>
  
</div>